# K3s configuration file
write-kubeconfig-mode: "0644"
server: "{{ CLUSTER_DOMAIN }}"
tls-san:
  - "{{ K3s_SERVER_IP }}"
cluster-domain:
  - "{{ CLUSTER_DOMAIN }}"
node-label:
  - "name=k3s"
debug: true
